// fonts

$font-family-sans-serif: 'Open Sans', sans-serif;

$line-height-base: 1.38 !default;
$font-size-root: 16px !default;

//colors

$pink: #EA9380;
$black: #000;
$dark: #333333;
$gray-100: #f8f8f8 !default;

/*
* Breakpoints
*/

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);


$xs: '(max-width: 0px)';
$sm: '(min-width: 576px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$xl: '(min-width: 1200px)';